body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 90vw;
  margin: 3vh auto;
}

.crfm-container {
  display: flex;
  justify-content: space-between;
}

.bufor-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

.mfs-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

.crfm-container .square {
  background-color: darkslategray;
}

.bufor-container .square {
  background-color: grey;
}

.mfs-container .square {
  background-color: darkslateblue;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  font-size: 1.1vw;
  color: white;
  border: 1px solid;
}

.fake-square {
  visibility: hidden;
}

.active-orders{
  margin: auto 0;
}

.orders-table {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.orders-table th {
  background-color: darkcyan;
}

.orders-table tr:nth-child(even) {
  background-color: gray;
}